<nav>
    <a href="/" class="title">Cyber Security Presentation</a>&nbsp;
    <a href="/linux.md">Why you should be using Linux®</a>&nbsp;
    <a href="/yvpnbad.md">Missconceptions about VPNs</a>
</nav>
